.product-card {
  text-align: right;
  margin: 10px 0;
  .product-card-body {
    .type-name {
      button {
        padding: 0 0 !important;
      }
    }
    .start-time {
      color: red;
    }
    .metrics {
      display: flex;
      justify-content: space-between;
      // margin: 20px;
      .metric {
        width: 100%;
        .metric-name {
          text-align: left;
          font-size: 0.8rem;

        }
        .metric-value {
          text-align: center;
          font-size: 1.5rem;

        }
      }
    }
    .metric-graph {
      padding: 20px;

    }
    .product-card-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        padding: 5px 30px;
        color: black;
      }
    }
  }
}